.vscode
build/LIB_NET
build/output
build/output_object
build/fp-lib-algo*
build/build-err.log
build/anycode_to_utf8/src_file.path
test/lib/*
test/resource/descriptor.txt
test/CMakeFiles
*.cmake
CMakeCache.txt
img_dst*.bmp
*core
*.patch
*.path
*.kdev4/
*.kdev4
*.zip
*.o
*.d
*.log
*.xz
*.tar.xz
